node_modules
npm-debug.log
ts-temp/
logs/
artifacts/
0xweb/
0xc/
0xweb.json
cache/
bin/
assets/
contracts/oz/
test/bin/
de_**.bat

# in progress
src/www/
index.dev.html
index.html

# local dev assets
/dev/
/tools/


# html assets
/viewer/
