assets/
artifacts/
test/
bin/
tools/
src/
typings/
ts-temp/
logs/
cache/
tsconfig-build.json
tsconfig.json
typings.json
.travis.yml
.gitmodules
.circleci/
.vscode/
.github/

dequanto/.vscode/
dequanto/.circle/
dequanto/.github/
dequanto/actions/
dequanto/0xc/
dequanto/cache/
dequanto/test/
dequanto/dist/
dequanto/typings/
dequanto/*.json
dequanto/*.js
dequanto/readme.md

readme.md
0xweb.json
0xweb/
de_**.bat
/hardhat.config.js
/tsconfig-typedoc.json
