test/
bin/
tools/
src/
typings/
ts-temp/
logs/
cache/
tsconfig-build.json
tsconfig.json
typings.json
.travis.yml
.vscode/

dequanto/.vscode/
dequanto/actions/
dequanto/cache/
dequanto/test/
dequanto/typings/
dequanto/*.json
dequanto/*.js

web3m.json
web3m/
de_**.bat
